doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/register') Register
        a(href='/login') Sign in

        block content
