extends layout

block content
    div
        form(action='/login', method='POST')
            input(type='text', name='username', placeholder='Username', autofocus)
            input(type='password', name='password', placeholder='Password', required)
            button(type='submit') Login